<div class="modal-header">
    <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
    <h4 class="modal-title"><i class="fa fa-exclamation-triangle"></i> Eliminar Velocidad de Internet</h4>
</div>
<div class="modal-body">
    <p><b>¿Realmente desea eliminar la Velocidad de Internet?</b></p>
    <p><b>Clave Equivalente:</b> {{ ctrl.ClaveEquivalente }}</p>
    <p><b>Velocidad de Subida:</b> {{ ctrl.VelocidadSubida }} {{ ctrl.UnidadMedidaSubida }}</p>
    <p><b>Velocidad de Bajada:</b> {{ ctrl.VelocidadBajada }} {{ ctrl.UnidadMedidaBajada }}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-danger btn-sm" type="button" ng-click="ctrl.DeleteVelocidadInternet()" title="Eliminar Velocida de Internet"><i class="fa fa-trash"></i> Eliminar</button>
    <button class="btn bnt-default btn-sm" type="button" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
</div>