<form name="FormCiudad" angular-validator-submit="ctrl.SaveCiudad()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdCiudad }}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-2">
                        <b>IP Red:</b>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" name="InpIP1" class="form-control input-sm" ng-model="$ctrl.IP1">
                            <span class="input-group-addon"><strong><b>.</b></strong></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                         <div class="input-group">
                            <input type="number" name="InpIP2" class="form-control input-sm" ng-model="$ctrl.IP2">
                            <span class="input-group-addon"><strong><b>.</b></strong></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" name="InpIP3" class="form-control input-sm" ng-model="$ctrl.IP3">
                            <span class="input-group-addon"><strong><b>.</b></strong></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <input type="number" name="InpIP4" class="form-control input-sm" ng-model="$ctrl.IP4">
                            <span class="input-group-addon"><strong><b></b></strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-5">
                        <b>Ultima fecha de asignación:</b>
                    </div>
                    <div class="col-md-5">
                        <b>Ultima fecha de liberación:</b>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-5">
                        <input type="date" name="InpFechaAsignacion" class="form-control input-sm" ng-model="ctrl.FechaAsignacion">
                    </div>
                    <div class="col-md-5">
                        <input type="date" name="InpFechaLiberacion" class="form-control input-sm" ng-model="ctrl.FechaLiberacion">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-5">
                        <b>Ultimo cliente asignado:</b>
                    </div>
                    <div class="col-md-5">
                        <b>Red:</b>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-5">
                        <input name="InpClienteAsignado" class="form-control input-sm" ng-model="ctrl.ClienteAsignado">
                    </div>
                    <div class="col-md-5">
                        <input name="InpRed" class="form-control input-sm" ng-model="ctrl.Red">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar ciudad" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>