<form name="FormCiudad" angular-validator-submit="ctrl.Guardar()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> {{ ctrl.Titulo }} {{ ctrl.IdIp }}</h4>
    </div>
    <div class="modal-body">
        <fieldset ng-disabled="ctrl.View">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Direccion IP:</b>
                    </div>
                    <div class="col-md-4">
                        <input name="InpIP" class="form-control input-sm" ng-model="ctrl.IP" ng-disabled="true">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Red:</b>
                    </div>
                    <div class="col-md-4">
                        <input name="InpRed" class="form-control input-sm" ng-model="ctrl.Red" ng-disabled="true">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Ultimo cliente asignado:</b>
                    </div>
                    <div class="col-md-4">
                        <input name="InpClienteAsignado" class="form-control input-sm" ng-model="ctrl.ClienteAsignado" ng-disabled="true">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Ultima fecha asignación:</b>
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="InpFechaAsignacion" class="form-control input-sm" ng-model="ctrl.FechaAsignacion" validator="((ctrl.RFechaA == true && ctrl.FechaVA == true)||(ctrl.RFechaA == false))? true:false;" validate-on="dirty" ng-required="ctrl.RFechaA" required-message="'Obligatorio'" invalid-message="'Inválido, Fecha invalida.'" ng-disabled="ctrl.BlockFA" ng-change="ctrl.ValidateSetFecha(1);">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Ultima fecha liberación:</b>
                    </div>
                    <div class="col-md-4">
                        <input type="date" name="InpFechaLiberacion" class="form-control input-sm" ng-model="ctrl.FechaLiberacion" validator="((ctrl.RFechaL == true && ctrl.FechaV == true)||(ctrl.RFechaL == false))? true:false;" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido, Fecha invalida.'" ng-disabled="ctrl.BlockFL" ng-change="ctrl.ValidateSetFecha(2);">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-4">
                        <b>Status:</b>
                    </div>
                    <div class="col-md-4">
                        <select name="SlcStatus" class="form-control input-sm" ng-model="ctrl.Status" ng-options="S.Descripcion for S in ctrl.ListCombo  track by S.Status" validate-on="dirty" required required-message="'Obligatorio'" ng-change="ctrl.ValidaS()">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </fieldset>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar IP" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>