<style>
    .dualmultiselect label {
        margin: 10px;
    }
    .dualmultiselect .btn {
        margin: 10px;
    }
    .dualmultiselect .pool {
        border: 1px solid #c2c2c2;
        border-radius: 4px;
        padding: 10px;
        margin: 5px;
        height: 240px;
        overflow-y: scroll;
    }
    .dualmultiselect .pool ul {
        list-style: none;
        padding-left: 0px;
    }
    .dualmultiselect .pool ul li {
        width: 100%;
        padding: 4px 8px 4px 4px;
        border-bottom: 1px dotted #CFCFCF;
    }
    .dualmultiselect .pool ul li a:hover {
        text-decoration: none;
    }
</style>
<form name="FormRedes" angular-validator-submit="$ctrl.SaveRedes()" novalidate angular-validator autocomplete="off">
    <div class="card animated fadeIn" style="margin-top:20px;">
        <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
            <header>
                <strong style="font-weight:bold; border:none; margin-left:10px;">Red {{ $ctrl.Clv_Servicio }}</strong>
                <br>
                <small class="text-muted" style="font-size:14px; margin-left:10px;">
                    <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Red {{ $ctrl.Clv_Servicio }}</a>
                </small>
            </header>
            <div class="tools">
                <button type="submit" class="btn btn-primary btn-sm" ng-click="" title="Guardar Red"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                <button type="button" class="btn btn-default btn-sm" ui-sref="home.catalogos.redes" title="Cancelar cambios"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-1">
                        <b>IP Red:</b>
                    </div>
                    <div class="col-md-6">
                    <div class="col-md-2">
                        <input type="number" name="InpIP1" class="form-control input-sm" ng-model="$ctrl.IP1" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP1 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                    <div class="col-md-2">
                         <input type="number" name="InpIP2" class="form-control input-sm" ng-model="$ctrl.IP2" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP2 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpIP3" class="form-control input-sm" ng-model="$ctrl.IP3" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP3 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpIP4" class="form-control input-sm" ng-model="$ctrl.IP4" min="0" ng-pattern="/^\d{1,3}$/" validator="$ctrl.IP4 <= 255" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                    <div class="col-md-1 text-center" style="font-size:22px;">
                        /
                    </div>
                    <div class="col-md-2">
                        <input type="number" name="InpMask" class="form-control input-sm" ng-model="$ctrl.Mask" min="0" validate-on="dirty" required required-message="'Obligatorio'" invalid-message="'Inválido.'">
                    </div>
                    </div>
                    <div class="col-md-offset-1 col-md-2">
                        <button type="button" class="btn btn-success btn-md btn-block" ui-sref="home.catalogos.red_ip({mod:$ctrl.Mod, id:$ctrl.IdRed})" title="Ver la lista de IPs en la Red"><i class="fa fa-external-link"></i> Lista de IP</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-1 col-md-10">
                         <uib-tabset active="active">
                            <uib-tab index="0">
                                <uib-tab-heading>
                                    Ciudad
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Incluidos</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-danger" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="1">
                                <uib-tab-heading>
                                    Localidad
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Seleccionados</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" class="btn ink-reaction  btn-xs btn-warning" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="2">
                                <uib-tab-heading>
                                    Estado
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Seleccionados</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" class="btn ink-reaction  btn-xs btn-warning" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="3">
                                <uib-tab-heading>
                                    Compañia
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Seleccionados</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" class="btn ink-reaction  btn-xs btn-warning" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="4">
                                <uib-tab-heading>
                                    Plaza
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Seleccionados</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" class="btn ink-reaction  btn-xs btn-warning" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                            <uib-tab index="5">
                                <uib-tab-heading>
                                    Medio
                                </uib-tab-heading>
                                <br>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="dualmultiselect">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6 text">
                                                        <h4 class="text-center"><b>Disponibles</b></h4>
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.Items" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-9" style="padding-top: 3%;">
                                                                    <b>{{ item.Name }}</b>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <button type="button" class="btn ink-reaction  btn-xs btn-info" ng-click="$ctrl.transfer($ctrl.Items, $ctrl.SelctItems, $ctrl.Items.indexOf(item))" title="Agregar"><i class="md-chevron-right"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <h4 class="text-center"><b>Seleccionados</b></h4>                
                                                        <div class="pool">
                                                            <div class="col-md-12" ng-repeat="item in $ctrl.SelctItems" style="border-bottom: dashed #c2c2c2 0.5px;">
                                                                <div class="col-md-3">
                                                                    <button type="button" ng-click="$ctrl.transfer($ctrl.SelctItems, $ctrl.Items, $ctrl.SelctItems.indexOf(item))" class="btn ink-reaction  btn-xs btn-warning" title="Quitar"><i class="md-chevron-left"></i></button> 
                                                                </div>
                                                                <div class="col-md-9 text-right" style="padding-top: 3%;">
                                                                    <strong><b>{{ item.Name }}</b></strong>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <footer>
                                    <p class="text-right"></p>
                                </footer>
                            </uib-tab>
                         </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>