
  
  <div class="card animated fadeIn fast" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
         <header>
        <strong style="font-weight:bold; border:none; margin-left:10px;">Interfaz de cablemodems</strong>
        <br />
        <small class="text-muted" style="font-size:14px; margin-left:10px;">
          <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Configuración</a>>
         
        </small>  
      </header>      
    </div>
    <div class="card-body">
  <div class="row">
      <div class="col-md-3">
       <div class="col-md-12">
           <label>Distribuidor</label>
           <select class="form-control input-sm" ng-model="$ctrl.distribuidor" >
            <option value=""></option>
           </select>
       </div>

       <div class="col-md-12">
           <label>Plaza</label>
            <select class="form-control input-sm" ng-model="$ctrl.plaza" >
             <option value=""></option>
            </select>
        </div>
        <div class="col-md-12">
                <label>Tipo servicio</label>
                 <select class="form-control input-sm" ng-model="$ctrl.plaza" >
                  <option value=""></option>
                 </select>
         </div>

         <div class="col-md-12">         
             <label>Contrato</label>
            <input type="text" class="form-control" ng-model="$ctrl.contrato">           
         </div>
         <div class="col-md-12">
                <label>Orden</label>
                <input type="text" class="form-control" ng-model="$ctrl.clvorden">
         </div> 
         <div class="col-md-12">
                <label>MAC Adress</label>
                <input type="text" class="form-control" ng-model="$ctrl.mac">
         </div> 
         <div class="col-md-12">
                <label>fecha solicitud</label>
                <input type="text" class="form-control" ng-model="$ctrl.fechasolicitud">
         </div> 

      </div>
      <div class="col-md-5"></div>
      <div class="col-md-4"></div>
  </div>
  
    </div>
  </div>
  