<form name="FormAddServicioCliente" angular-validator-submit="ctrl.SaveRecontratacion()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.Cancel()">x</button>
        <h4 class="modal-title"><i ng-class="ctrl.Icono"></i> Agregar Servicio</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-3">
                    <b>Tipo Servicio:</b>
                </div>
                <div class="col-md-9">
                    <select name="SlcTipoServicio" class="form-control input-sm" ng-model="ctrl.TipoServicio" ng-options="T.Concepto for T in ctrl.TipoServicioList track by T.Clv_TipSerPrincipal" ng-change="ctrl.GetServiciosList()" validate-on="dirty" required required-message="'Obligatorio'">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <br>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-3">
                    <b>Servicio:</b>
                </div>
                <div class="col-md-9">
                    <select name="Servicio" class="form-control input-sm" ng-model="ctrl.Servicio" ng-options="S.Descripcion for S in ctrl.ServicioList track by S.Clv_Servicio" validate-on="dirty" required required-message="'Obligatorio'" ng-change="ctrl.SetServicio();">
                        <option value="">Selecciona</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-12">
                    <br>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-3">
                    <b>Medio:</b>
                </div>
                <div class="col-md-9">
                    <select name="SlcMedio" class="form-control input-sm" ng-model="ctrl.Medio" ng-options="M.Descripcion disable when M.Activo != true for M in ctrl.MedioList | orderBy:'IdMedio' track by M.IdMedio" ng-change="ctrl.GetAparatoList()" validate-on="dirty" required-message="'Obligatorio'" ng-disabled="ctrl.BlokMedioInst">
                    </select>
                </div>
            </div>
        </div>
        <br>
        <div class="row" ng-if="ctrl.ViewAparatos">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-3">
                    <b>Aparato:</b>
                </div>
                <div class="col-md-6">
                    <select name="SlcAparato" class="form-control input-sm" ng-model="ctrl.Aparato" ng-options="A.MacCableModem for A in ctrl.AparatoList track by A.Clv_CableModem" validate-on="dirty" ng-required="(ctrl.Medio != undefined && ctrl.AparatosList.length > 0)" required-message="'Obligatorio'">
                        <option value="">Seleccionar Apaarato</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <button type="button" class="btn btn-success btn-xs" ng-click="ctrl.AddAparatoRecon()" title="Agregar Aparato"><i class="fa fa-plus"></i> Agregar</button>
                </div>
            </div>
        </div>
        <br ng-if="ctrl.ViewAparatos">
        <div class="row" ng-if="ctrl.ViewAparatos">
            <div class="col-md-offset-1 col-md-10">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="75%"><b><small>Aparato</small></b></th>
                                <th width="25%"><b><small></small></b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="!ctrl.ViewList">
                                <td class="text-center" colspan="2">SIN APARATOS</td>
                            </tr>
                            <tr ng-repeat="X in ctrl.AparatosReconList" ng-show="ctrl.ViewList">
                                <td><small>{{ X.MacCableModem }}</small></td>
                                <td><button type="button" class="btn btn-danger btn-xs" title="Eliminar Aparato" ng-click="ctrl.DeleteAparatoRecon(X.Clv_CableModem)"><i class="fa fa-trash"></i> Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Guardar Servico"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.Cancel()" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>