<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Recontratación</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Recontratación</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
				<button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.OpenVendedorAdd();" title="Recontratar"><i class="glyphicon glyphicon-floppy-disk"></i> Recontratar</button>
			</div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-1">
                    <b>Contrato:</b>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <input type="text" name="InpContrato" class="form-control input-sm" ng-model="$ctrl.Cliente.ContratoCom">
                        <div class="input-group-btn">
                            <button type="button" class="btn ink-reaction btn-floating-action btn-sm btn-default" ng-click="$ctrl.OpenSearchCliente()" title="Buscar Cliente"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-12">
                    <h4 class="text-primary">Datos del Cliente:</h4>
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-1">
                    <b>Nombre:</b>
                </div>
                <div class="col-md-5">
                    {{ $ctrl.Nombre }}
                </div>
                <div class="col-md-1">
                    <b>Ciudad:</b>
                </div>
                 <div class="col-md-5">
                     {{ $ctrl.Cliente.Cd_Mun }}
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-1">
                    <b>Calle:</b>
                </div>
                <div class="col-md-3">
                    {{ $ctrl.Cliente.Calle }}
                </div>
                <div class="col-md-2">
                    <b>#: </b>{{ $ctrl.Cliente.NUMERO }}
                </div>
                <div class="col-md-1">
                    <b>Colonia:</b>
                </div>
                 <div class="col-md-5">
                     {{ $ctrl.Cliente.Col }}
                </div>
            </div>
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-1">
                    <b>Teléfono:</b>
                </div>
                <div class="col-md-5">
                    {{ $ctrl.Cliente.TELEFONO }}
                </div>
                <div class="col-md-1">
                    <b>Celular:</b>
                </div>
                 <div class="col-md-5">
                     {{ $ctrl.Cliente.CELULAR }}
                </div>
            </div>
        </div>
        <br>
        <!--
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-3">
                    <h4 class="text-primary">Adeudo a Pagar:</h4>
                </div>
                <div class="col-md-9">
                    <textarea name="TxaAdeudoPagar" rows="2" class="form-control input-sm" ng-model="AdeudoPagar"></textarea>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-12">
                    <uib-tabset active="active">
                        <uib-tab index="0">
                            <uib-tab-heading>
                                Internet
                            </uib-tab-heading>
                            <br>
                            <footer>
                                <p class="text-right"></p>
                            </footer>
                        </uib-tab>
                        <uib-tab index="1">
                            <uib-tab-heading>
                                Digital
                            </uib-tab-heading>
                            <br>
                            <footer>
                                <p class="text-right"></p>
                            </footer>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
        -->
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="col-md-12">
                    <h4 class="text-primary">Servicios:</h4>
                </div>
                <div class="col-md-12">
                    <div class="col-md-offset-4 col-md-2">
                        <button type="button" class="btn btn-success btn-xs" ng-click="$ctrl.OpenAddServicioRecontratacion()" title="Agregar Servicio" ng-if="$ctrl.ShowServicios"><i class="fa fa-share"></i> AGREGAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>