<div class="card animated fadeIn" style="margin-top:20px;">
    <div class="card-head style-default-light" style="padding-top:10px; padding-left:10px;">
        <header>
            <strong style="font-weight:bold; border:none; margin-left:10px;">Grupo de Ventas</strong>
			<br>
            <small class="text-muted" style="font-size:14px; margin-left:10px;">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>><a href="#" class="paginaActiva">Grupo de Ventas</a>
            </small>
        </header>
        <div class="tools">
			<div class="btn-group">
			</div>
        </div>
    </div>
    <div class="card-body">
        <form name="FormGrupo" angular-validator-submit="$ctrl.SaveGrupo()" novalidate angular-validator autocomplete="off">
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-offset-2 col-md-8">
                    <div class="col-md-3">
                        <b>Clave:</b>
                    </div>
                    <div class="col-md-9">
                        <input name="InpClave" class="form-control input-sm" ng-model="$ctrl.Clave" ng-disabled="true">
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <br>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <div class="col-md-3">
                        <b>Grupo:</b>
                    </div>
                    <div class="col-md-9">
                        <input name="InpGrupo" class="form-control input-sm" ng-model="$ctrl.Grupo" validate-on="dirty" ng-required="$ctrl.ReqGrupo" required-message="'Obligatorio'" invalid-message="'Invalido.'" ng-disabled="$ctrl.DisGrupo">
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <br>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <div class="col-md-3">
                        <b>Plaza:</b>
                    </div>
                    <div class="col-md-9">
                        <select name="SlcPlaza" class="form-control input-sm" ng-model="$ctrl.Plaza" ng-options="P.razon_social for P in $ctrl.PlazaList track by P.id_compania" ng-change="$ctrl.GetGrupoList()" ng-disabled="$ctrl.DisPlaza" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <br>
                </div>
                <div class="col-md-offset-2 col-md-8">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-primary btn-block btn-xs" ng-click="$ctrl.OpenFormGrupo(1, '')" title="Consultar Rango" ng-if="$ctrl.DisBtnNuevo"><i class="fa fa-plus"></i> Nuevo</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success btn-block btn-xs" title="Consultar Rango" ng-if="$ctrl.DisBtnGuardar"><i class="glyphicon glyphicon-floppy-disk"></i> Guardar</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default btn-block btn-xs" ng-click="$ctrl.OpenFormGrupo(0)" title="Consultar Rango" ng-if="$ctrl.DisBtnCancelar"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-offset-1 col-md-10">
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%"><b>Clave Grupo</b></th>
                                    <th width="40%"><b>Comisión</b></th>
                                    <th width="20%"><b></b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="!$ctrl.ViewList">
                                    <td class="text-center" colspan="3">SIN REGISTROS</td>
                                </tr>
                                <tr dir-paginate="X in $ctrl.GrupoList|itemsPerPage:7" ng-show="$ctrl.ViewList">
                                    <td>{{ X.Clv_Grupo }}</td>
                                    <td>{{ X.Grupo }}</td>
                                    <td><button type="button" class="btn btn-warning btn-xs" ng-click="$ctrl.OpenFormGrupo(2, X)" title="Editar Rango" ng-disabled="$ctrl.DisBtnEditar"><i class="fa fa-pencil-square-o"></i> EDITAR</button></td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-top:-40px;">
                            <dir-pagination-controls max-size="7" direction-links="true" boundary-links="true" ng-if="$ctrl.GrupoList.length > 0">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>