<style type="text/css">
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
</style>

<script>
    document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};
</script>

<form name="FormCancelarFolio" angular-validator-submit="ctrl.GuardarEvidencia()" novalidate angular-validator autocomplete="off">
    <div class="modal-header">
        <button class="close" type="button" aria-label="close" ng-click="ctrl.cancel()">x</button>
        <h4 class="modal-title">Cancelación de Folios Impresos</h4>
    </div>
    <div class="modal-body">
            <fieldset ng-disabled="ctrl.View">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Vendedor:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcVendedor" class="form-control input-sm" ng-model="ctrl.Vendedor" ng-options="V.Nombre for V in ctrl.VendedorList track by V.Clv_Vendedor" ng-change="ctrl.GetSerieList();" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="" ng-disabled="true">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Serie:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcSerie" class="form-control input-sm" ng-model="ctrl.Serie" ng-options="S.SERIE for S in ctrl.SerieList track by S.SERIE" ng-change="ctrl.GetFolioDisponible();" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="" ng-disabled="true">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Folio:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <select name="SlcFolioDisponible" class="form-control input-sm" ng-model="ctrl.FolioDisponible" ng-options="S.Folio for S in ctrl.FolioDisponibleList track by S.Folio" validate-on="dirty" required required-message="'Obligatorio'">
                            <option value="" ng-disabled="true">Selecciona</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <br>
                        <b>Evidencia</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Comentario:</b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <textarea name="TxaComentario" class="form-control input-sm" rows="2" ng-model="ctrl.Comentario" validate-on="dirty" required required-message="'Obligatorio'"></textarea>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12">
                        <b>Ruta:</b>
                    </div>
                </div>

            </div>
            </fieldset>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-8">
                        <input name="InpFilePath" id="uploadFile" class="form-control input-sm" ng-model="ctrl.InpFilePath" placeholder="Selecciona archivo" disabled="disabled" />
                    </div>
                    <div class="col-md-4">
                        <div class="fileUpload btn btn-success btn-xs">
                        <span><i class="fa fa-search"></i> Buscar</span>
                        <input type="file" name="InpEvidencia" id="uploadBtn" class="upload" file-model="ctrl.Evidencia">
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" title="Aceptar" ng-disabled="ctrl.ShowAdd" ng-show="!ctrl.View"><i class="fa fa-check"></i> Aceptar</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.cancel();" title="Salir"><i class="glyphicon glyphicon-log-out"></i> Cancelar</button>
    </div>
</form>